.form-group 
{
    display: table;
    width: 100%;
    padding-bottom: 3px;
}

 
.form-group label,
.form-group .input-wrapper {
  display: table-cell;
  vertical-align: top;
}

.form-group label {
    width: 100px;
  }
  .form-group .input-wrapper .form-control {
    width: 100%;
  }