<h2> Appointment History</h2>
<input style="margin-left: 1000px" class="btn btn-primary btn-md center-block" type="submit" name="Back" id="go" value="Back" (click)="goBack()">
<table class="table table-striped">
    <thead>
        <tr>
            <th> Patient Name</th>
            <th> Doctor Name</th>
            <th> Date</th>
            <th> Age</th>
            <th> Gender</th>
            <th> Description</th>
            <th> Contact</th>
            <th> Actions</th>
        </tr>
    </thead>
   <tbody>
       <tr *ngFor ="let appointment of appointments">
            <td>{{appointment.patientName}}</td>
            <td>{{appointment.doctorName}}</td>
            <td>{{appointment.date}}</td>
            <td>{{appointment.age}}</td>
            <td>{{appointment.gender}}</td>
            <td>{{appointment.description}}</td>
            <td>{{appointment.contact}}</td>
            <td>
                <button [routerLink]="['/getprescription',appointment.id]" class="btn btn-info">View Prescription</button>
            </td>
       </tr>
   </tbody>
</table>