<div >
    <h1 class="center">Pharmacist Dashboard</h1><hr>
        <h2 class="center"><i>Welcome back </i></h2><br>
        <div style="text-align:center">
            
            <a href="medicines"><button> Show All Medicines</button></a><br><br>
            <a href="addMedicine"><button>Add Medicines</button></a><br><br>
            <a href="viewprescription"><button>View Prescriptions</button></a><br><br>
            <a href="/pharmacist-login"><button>Logout</button></a>
            <input class="btn btn-primary btn-md center-block" type="submit" name="Back" id="go" value="Back" (click)="goBack()">
	

        </div>
 </div>
    
    