



<h1 class="center">Patient Dashboard</h1><hr>
	<h2 class="center"><i>Welcome back  !!</i></h2><br>
	<div class="center" style="display:flex;padding-left:50px;padding-top:50px;">
		<a href="createappointment"><button>Book Appointment</button></a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="appointmenthistory"><button>Appointment History</button></a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="testhistory"><button>Test History</button></a><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/patient-login"><button>Logout</button></a>
	</div>

	<input style="margin-left: 800px" class="btn btn-primary btn-md center-block" type="submit" name="Back" id="go" value="Back" (click)="goBack()">
	

