
<div  class="banner_div">

   <div  class="center" style = " margin-top:10% ">
     <img style="border-radius:50%;width: 120px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6IJatbiSiTCb-VVBeYqLDM0dXMWtB5HeIIA&usqp=CAU">
     <a routerLink="/doctor-register">Register as Doctor</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <img style="border-radius:100%;width: 120px;" src="https://th.bing.com/th?q=Patient+Symbol&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&adlt=moderate&t=1&mw=247">
     <a routerLink="/patient-register">Register as Patient</a>&nbsp;&nbsp;
   </div>
   </div>
