


<div >
<h1 class="center">Doctor Dashboard</h1><hr>
	<h2 class="center"><i>Welcome back </i></h2><br>
	<div style="text-align:center">
		
		<a href="viewdoctorappointments"><button> View Appointments</button></a><br><br>
		<a href="viewdoctorappointments"><button>View PatientRecords</button></a><br><br>
		<a href="/doctor-login"><button>Logout</button></a>
		<input style="margin-left: 450px" class="btn btn-primary btn-md center-block" type="submit" name="Back" id="go" value="Back" (click)="goBack()">
	</div>
	</div>

